<h2 class="text-center mb-4">Estatísticas</h2>

<div *ngIf="stats" class="text-center mb-4">
  <p><strong>Total:</strong> {{ stats.total }}</p>
  <p><strong>Orientados:</strong> {{ stats.orientados }}</p>
  <p><strong>Percentual:</strong> {{ stats.percentual | number:'1.1-2' }}%</p>
</div>

<div class="d-flex justify-content-center">
  <ngx-charts-pie-chart
  [view]="view"
  [results]="chartData"
  [legend]="showLegend"
  [labels]="true"
  [doughnut]="false"
  [explodeSlices]="true"
  [gradient]="false"
  [scheme]="'vivid'"
></ngx-charts-pie-chart>
</div>
